@import url(//db.onlinewebfonts.com/c/6cec834e2e8f2e4206567ed75e1281d4?family=Brandon+Grotesque+Bold); /*importing brandon grotesque font*/

.members-page {
  padding-top: 0;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 0;
  color: #fff;
  font-family: "Brandon Grotesque Bold";
}

.container-members {
  margin-bottom: 100px;
  text-align: center;
}

.container-members h1 {
  font-weight: bold;
}

#img-responsive {
  height: 250px;
  width: 220px;
  border-radius: 15%;
}

.profile {
  margin-top: 25px;
}

.profile .img-box {
  opacity: 1;
  display: block;
  position: relative;
  width: min-content;
}

.profile h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 10%;
}

.profile h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 10%;
}

.profile .img-box::after {
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.img-box ul {
  margin: 0;
  padding: 20px 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.img-box ul li {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 3px;
  padding: 7px;
  display: inline-block;
}

.img-box a {
  color: #e1dbbd;
}
.img-box:hover:after {
  opacity: 1;
}

.img-box:hover ul {
  opacity: 1;
}

.img-box a:hover li {
  color: #e2ac0d;
  border: 1px solid #e2ac0d;
}

.img-box:after,
.img-box ul,
.img-box ul li {
  transition: all 0.5s ease-in-out 0s;
}
.titles {
  color: #e1dbbd;
  text-shadow: rgb(225 219 189) 1px 1px 2px, rgb(226 172 13) 0px 0px 15px,
    rgb(226 172 13) 0px 0px 5px;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 8%;

  margin-bottom: 0%;
}

@media screen and (max-width: 900px) {
  .profile {
    left: 70%;
    transform: translateX(-50%);
    display: block;
  }
  .profile h3 {
    margin-right: 150px;
  }
  .profile h2 {
    margin-top: 20px;
    margin-right: 150px;
  }
}
