.message {
	text-align: center;
	color: white;
	font-size: 6rem;
}
.mess1 {
	color: #e2ac0d;
}
/* border radius */
.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 20rem));
	gap: 2rem;
	justify-content: center;
	padding: 10% 10% 10% 10%;
}
.card {
	overflow: hidden;
	box-shadow: 0 2px 20px gray;
	border-radius: 0.2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 200ms ease-in;
	background-color: #000;
}
.card__image {
	height: 12rem;
	width: 100%;
	object-fit: cover;
}
.card__image:hover {
	animation: goRight 3s;
}
.card__title {
	text-align: center;
	padding: 1rem;
	color: #e2ac0d;
}
.card__description {
	text-align: center;
	padding: 0 1rem;
	color: white;
}
.card__btn {
	padding: 1rem;
	font-family: inherit;
	font-weight: bold;
	font-size: 1rem;
	margin: 1rem;
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	border-radius: 0.2rem;
	transition: background 200ms ease-in, color 200ms ease-in;
}
.card:hover {
	transform: scale(1.02);
}
.card:hover .card__btn {
	background: #3d3535;
	color: white;
}
@keyframes goRight {
	from {
		transform: rotateZ(0);
	}
	to {
		transform: rotateZ(5deg);
	}
}
